USE [master]
GO
/****** Object:  Database [NghiemVanTrongStudien]    Script Date: 26/09/2026 9:47:29 SA ******/
CREATE DATABASE [NghiemVanTrongStudien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NghiemVanTrongStudien', FILENAME = N'D:\SQL_sever\MSSQL16.SQLEXPRESS01\MSSQL\DATA\NghiemVanTrongStudien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NghiemVanTrongStudien_log', FILENAME = N'D:\SQL_sever\MSSQL16.SQLEXPRESS01\MSSQL\DATA\NghiemVanTrongStudien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NghiemVanTrongStudien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NghiemVanTrongStudien]
GO
/****** Object:  Table [dbo].[NvtMember]    Script Date: 26/09/2026 9:47:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NvtMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[BirthDay] [date] NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_NvtMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
